# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc    diff=astextplain
*.DOC    diff=astextplain
*.docx   diff=astextplain
*.DOCX   diff=astextplain
*.dot    diff=astextplain
*.DOT    diff=astextplain
*.pdf    diff=astextplain
*.PDF    diff=astextplain
*.rtf    diff=astextplain
*.RTF    diff=astextplain

# Nextflow files
*.nf     text linguist-language=Groovy
*.config text linguist-language=Groovy

# Markdown
*.md     text

# JSON
*.json   text

# YAML
*.yaml   text
*.yml    text

# Shell scripts
*.sh     text eol=lf

# Ignore binary files
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.ico    binary
*.fast5  binary
*.bam    binary
*.bai    binary
*.sam    binary
*.fasta  binary
*.fa     binary
*.fastq  binary
*.fq     binary
*.gz     binary
