/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MINIMAP2_.*' {
        ext.args = params.minimap2_args
        publishDir = [
            path: { "${params.outdir}/mapping/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.sam"
        ]
    }

    withName: 'SAMTOOLS_VIEW' {
        ext.args = '-b -F 4'
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/mapping/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.bam"
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/mapping/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.bai"
        ]
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        publishDir = [
            path: { "${params.outdir}/qc/flagstat/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.flagstat"
        ]
    }

    withName: 'SAMTOOLS_DEPTH' {
        publishDir = [
            path: { "${params.outdir}/qc/depth/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.depth"
        ]
    }

    withName: 'COVERAGE_PLOT' {
        publishDir = [
            path: { "${params.outdir}/qc/coverage/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.{png,pdf}"
        ]
    }

    withName: 'NANOPLOT_BAM' {
        publishDir = [
            path: { "${params.outdir}/qc/nanoplot/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: 'EXTRACT_MAPPED_READS' {
        publishDir = [
            path: { "${params.outdir}/mapped_reads/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.fastq"
        ]
    }

    withName: 'EXTRACT_READ_IDS' {
        publishDir = [
            path: { "${params.outdir}/read_ids/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
    }

    withName: 'FAST5_SUBSET' {
        publishDir = [
            path: { "${params.outdir}/fast5_subset/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "fast5_subset"
        ]
    }

    withName: 'MULTI_TO_SINGLE_FAST5' {
        publishDir = [
            path: { "${params.outdir}/single_fast5/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "single_fast5"
        ]
    }

    withName: 'TOMBO_RESQUIGGLE' {
        ext.args = params.tombo_resquiggle_args
        publishDir = [
            path: { "${params.outdir}/tombo/resquiggle/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'TOMBO_DETECT_MODIFICATIONS' {
        errorStrategy = 'ignore'
        publishDir = [
            [
                path: { "${params.outdir}/modifications/tombo" },
                mode: params.publish_dir_mode,
                pattern: "tombo_stats"
            ],
            [
                path: { "${params.outdir}/logs/tombo" },
                mode: params.publish_dir_mode,
                pattern: "*.log",
                saveAs: { filename -> filename }
            ]
        ]
    }

    withName: 'TOMBO_TEXT_OUTPUT' {
        errorStrategy = 'ignore'
        publishDir = [
            [
                path: { "${params.outdir}/modifications/tombo" },
                mode: params.publish_dir_mode,
                pattern: "*.csv"
            ],
            [
                path: { "${params.outdir}/logs/tombo" },
                mode: params.publish_dir_mode,
                pattern: "*.log",
                saveAs: { filename -> filename }
            ]
        ]
    }

    withName: 'F5C_INDEX' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'F5C_EVENTALIGN' {
        ext.args = params.f5c_eventalign_args
        publishDir = [
            path: { "${params.outdir}/eventalign/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
    }

    withName: 'F5C_EVENTALIGN_XPORE' {
        ext.args = '--rna --scale-events --signal-index'
        publishDir = [
            path: { "${params.outdir}/eventalign_xpore/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
    }

    withName: 'YANOCOMP_PREPARE' {
        publishDir = [
            path: { "${params.outdir}/yanocomp/prepare/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.hdf5"
        ]
    }

    withName: 'YANOCOMP_ANALYSIS' {
        errorStrategy = 'ignore'
        ext.args = "--fdr-threshold ${params.yanocomp_fdr_threshold} --min-ks ${params.yanocomp_min_ks}"
        publishDir = [
            [
                path: { "${params.outdir}/modifications/yanocomp/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*.{bed,json}"
            ],
            [
                path: { "${params.outdir}/logs/yanocomp/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'NANOCOMPORE_EVENTALIGN_COLLAPSE' {
        publishDir = [
            path: { "${params.outdir}/nanocompore/eventalign_collapse/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: 'NANOCOMPORE_SAMPCOMP' {
        errorStrategy = 'ignore'
        ext.args = "--min_coverage ${params.nanocompore_min_coverage}"
        publishDir = [
            [
                path: { "${params.outdir}/modifications/nanocompore" },
                mode: params.publish_dir_mode,
                pattern: "*",
                saveAs: { filename -> filename.endsWith('.log') ? null : filename }
            ],
            [
                path: { "${params.outdir}/logs/nanocompore" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'XPORE_DATAPREP' {
        publishDir = [
            path: { "${params.outdir}/xpore/dataprep/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "dataprep_*"
        ]
    }

    withName: 'XPORE_DIFFMOD' {
        errorStrategy = 'ignore'
        publishDir = [
            [
                path: { "${params.outdir}/modifications/xpore" },
                mode: params.publish_dir_mode,
                pattern: "*_diffmod"
            ],
            [
                path: { "${params.outdir}/logs/xpore" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'ELIGOS_PAIR_DIFF_MOD' {
        ext.args = "--min_depth ${params.eligos_min_depth} --max_depth ${params.eligos_max_depth} --pval ${params.eligos_pval_thr} --oddR ${params.eligos_oddR_thr} --esb ${params.eligos_esb_thr}"
        errorStrategy = 'ignore'
        publishDir = [
            [
                path: { "${params.outdir}/modifications/eligos/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*_eligos"
            ],
            [
                path: { "${params.outdir}/logs/eligos/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'EPINANO_ERROR' {
        ext.zscore = "${params.epinano_zscore_threshold}"
        ext.coverage = "${params.epinano_coverage_threshold}"
        ext.error_threshold = "${params.epinano_error_threshold}"
        errorStrategy = 'ignore'
        publishDir = [
            [
                path: { "${params.outdir}/modifications/epinano/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*_epinano_error"
            ],
            [
                path: { "${params.outdir}/logs/epinano/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'DIFFERR' {
        ext.fdr = "${params.differr_fdr_threshold}"
        errorStrategy = 'ignore'
        publishDir = [
            [
                path: { "${params.outdir}/modifications/differr/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*_differr.bed"
            ],
            [
                path: { "${params.outdir}/logs/differr/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'DRUMMER' {
        ext.pval = "${params.drummer_pval_threshold}"
        ext.odds_ratio = "${params.drummer_odds_ratio}"
        errorStrategy = 'ignore'
        publishDir = [
            [
                path: { "${params.outdir}/modifications/drummer/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*_drummer"
            ],
            [
                path: { "${params.outdir}/logs/drummer/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'JACUSA2' {
        errorStrategy = 'ignore'
        publishDir = [
            [
                path: { "${params.outdir}/modifications/jacusa2/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*_jacusa2.bed"
            ],
            [
                path: { "${params.outdir}/logs/jacusa2/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

    withName: 'NANORMS' {
        errorStrategy = 'ignore'
        publishDir = [
            [
                path: { "${params.outdir}/modifications/nanorms/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*_nanorms"
            ],
            [
                path: { "${params.outdir}/logs/nanorms/${meta.rrna}" },
                mode: params.publish_dir_mode,
                pattern: "*.log"
            ]
        ]
    }

}
