/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MINIMAP2_.*' {
        ext.args = params.minimap2_args
        publishDir = [
            path: { "${params.outdir}/mapping/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.sam"
        ]
    }

    withName: 'SAMTOOLS_VIEW' {
        ext.args = '-b -F 4'
        publishDir = [
            enabled: false
        ]
    }

    withName: 'SAMTOOLS_SORT' {
        ext.prefix = { "${meta.id}.sorted" }
        publishDir = [
            path: { "${params.outdir}/mapping/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.bam"
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/mapping/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.bai"
        ]
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        publishDir = [
            path: { "${params.outdir}/qc/flagstat/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.flagstat"
        ]
    }

    withName: 'SAMTOOLS_DEPTH' {
        publishDir = [
            path: { "${params.outdir}/qc/depth/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.depth"
        ]
    }

    withName: 'COVERAGE_PLOT' {
        publishDir = [
            path: { "${params.outdir}/qc/coverage/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.{png,pdf}"
        ]
    }

    withName: 'NANOPLOT_BAM' {
        publishDir = [
            path: { "${params.outdir}/qc/nanoplot/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*"
        ]
    }

    withName: 'EXTRACT_MAPPED_READS' {
        publishDir = [
            path: { "${params.outdir}/mapped_reads/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.fastq"
        ]
    }

    withName: 'EXTRACT_READ_IDS' {
        publishDir = [
            path: { "${params.outdir}/read_ids/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
    }

    withName: 'FAST5_SUBSET' {
        publishDir = [
            path: { "${params.outdir}/fast5_subset/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "fast5_subset"
        ]
    }

    withName: 'MULTI_TO_SINGLE_FAST5' {
        publishDir = [
            path: { "${params.outdir}/single_fast5/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "single_fast5"
        ]
    }

    withName: 'TOMBO_RESQUIGGLE' {
        ext.args = params.tombo_resquiggle_args
        publishDir = [
            path: { "${params.outdir}/tombo/resquiggle/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'TOMBO_DETECT_MODIFICATIONS' {
        publishDir = [
            path: { "${params.outdir}/modifications/tombo" },
            mode: params.publish_dir_mode,
            pattern: "tombo_stats"
        ]
    }

    withName: 'TOMBO_TEXT_OUTPUT' {
        publishDir = [
            path: { "${params.outdir}/modifications/tombo" },
            mode: params.publish_dir_mode,
            pattern: "*.bed"
        ]
    }

    withName: 'F5C_INDEX' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'F5C_EVENTALIGN' {
        ext.args = params.f5c_eventalign_args
        publishDir = [
            path: { "${params.outdir}/eventalign/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
    }

    withName: 'YANOCOMP_PREPARE' {
        publishDir = [
            path: { "${params.outdir}/yanocomp/prepare/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "*.hdf5"
        ]
    }

    withName: 'YANOCOMP_ANALYSIS' {
        ext.args = "--fdr-threshold ${params.yanocomp_fdr_threshold} --min-ks ${params.yanocomp_min_ks}"
        publishDir = [
            path: { "${params.outdir}/modifications/yanocomp" },
            mode: params.publish_dir_mode,
            pattern: "*.{bed,json}"
        ]
    }

    withName: 'XPORE_DATAPREP' {
        publishDir = [
            path: { "${params.outdir}/xpore/dataprep/${meta.type}/${meta.rrna}" },
            mode: params.publish_dir_mode,
            pattern: "xpore_data"
        ]
    }

    withName: 'XPORE_DIFFMOD' {
        publishDir = [
            path: { "${params.outdir}/modifications/xpore" },
            mode: params.publish_dir_mode,
            pattern: "*.{csv,table}"
        ]
    }

}
